* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    animation: start-ani  1 ease-in-out 1;
    display: flex;
    flex-direction: column;
}

/* html::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
.social-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
    background: 
    linear-gradient(90deg, #001f3f, rgba(0, 123, 255, 0.5) 30%),
    linear-gradient(180deg, #004080, rgba(0, 191, 255, 0.3) 20%),
    linear-gradient(1turn, #1a4f8b, #1c7ed6 0, rgba(0, 191, 255, 0.2) 25%),
    conic-gradient(from 140deg at 50% 65%, 
        #004080 -50deg, 
        #1a4f8b 60deg, 
        #1c7ed6 120deg, 
        #0077b6 180deg, 
        #1c7ed6 270deg, 
        #001f3f 360deg);
        background-size: 300%;
        background-attachment: fixed;
    animation: gradient-animation 2s ease-in-out 1;
}

.pricing-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
    background: 
    linear-gradient(90deg, #4e1d73, rgba(255, 153, 102, 0.5) 30%),
    linear-gradient(180deg, #ff5733, rgba(255, 179, 71, 0.4) 20%),
    linear-gradient(1turn, #ff8d47, #ff6f61 0, rgba(255, 102, 153, 0.2) 25%),
    conic-gradient(from 145deg at 50% 70%, 
        #ff9f87 -60deg, 
        #4e1d73 40deg, 
        #ff8d47 120deg, 
        #cc3a70 180deg, 
        #ff5733 240deg, 
        #4e1d73 300deg);
        background-size: 300%;
        background-attachment: fixed;
        animation: gradient-animation 2s ease-in-out 1;
}

.download-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
    background: 
    linear-gradient(90deg, #0f0c29, rgba(255, 0, 153, 0.6) 25%),
    linear-gradient(180deg, #302b63, rgba(0, 255, 255, 0.4) 18%),
    linear-gradient(1turn, #ffa69e, #f8cdda 0, rgba(255, 0, 153, 0.2) 20%),
    conic-gradient(from 150deg at 50% 75%, 
        #8e44ad -80deg, 
        #0f0c29 60deg, 
        #ff79c6 120deg, 
        #302b63 180deg, 
        #f8cdda 270deg, 
        #8e44ad 360deg);
        background-size: 300%;
        background-attachment: fixed;
        animation: gradient-animation 2s ease-in-out 1;
}

.chatbot-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
    background: 
    linear-gradient(90deg, #19191c, rgba(25, 25, 28, 0) 20.03%),
    linear-gradient(180deg, #19191c, rgba(25, 25, 28, 0) 18.35%),
    linear-gradient(1turn, #191a1c, #191a1c 0, rgba(25, 25, 28, 0) 15.21%),
    conic-gradient(from 130.75deg at 50% 68.54%, 
        #9c3cf7 -75.84deg, 
        #19191c 49.36deg, 
        #191922 49.59deg, 
        #19191c 64.6deg, 
        #19191c 75.26deg, 
        #1e1ae8 101.25deg, 
        #00137c 118.94deg, 
        #6923ff 150.47deg, 
        #19191c 185.02deg, 
        #1d1aba 214.82deg, 
        #253647 226.37deg, 
        #19191c 262.5deg, 
        #9c3cf7 284.16deg, 
        #19191c 409.36deg);
background-size: 300%;
background-attachment: fixed;
animation: gradient-animation 2s ease-in-out 1;
}

.home-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
    background: 
        linear-gradient(90deg, #19191c, rgba(25, 25, 28, 0) 20.03%),
        linear-gradient(180deg, #19191c, rgba(25, 25, 28, 0) 18.35%),
        linear-gradient(1turn, #191a1c, #191a1c 0, rgba(25, 25, 28, 0) 15.21%),
        conic-gradient(from 130.75deg at 50% 68.54%, 
            #9c3cf7 -75.84deg, 
            #19191c 49.36deg, 
            #191922 49.59deg, 
            #19191c 64.6deg, 
            #19191c 75.26deg, 
            #1e1ae8 101.25deg, 
            #00137c 118.94deg, 
            #6923ff 150.47deg, 
            #19191c 185.02deg, 
            #1d1aba 214.82deg, 
            #253647 226.37deg, 
            #19191c 262.5deg, 
            #9c3cf7 284.16deg, 
            #19191c 409.36deg);
    background-size: 300%;
    background-attachment: fixed;
    animation: gradient-animation 2s ease-in-out 1;
    /* filter: blur(50px);          This don't work for me, it create a white halo with the background's border.*/  
}

.main-nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    z-index: 10;
    top: 0;
    background-color: #191a1c;
}

.page-title-in-web-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}

.main-title {
    font-weight: 600;
}

.title-home-link {
    font-weight: 600;
    text-decoration: underline;
    transition: all 0.1s ease-in-out;
}

.title-home-link:hover {
    color: #aa82f8;
    text-decoration: underline;
}

.links, a {
    text-decoration: none;
    color: white;
    font-weight: 200;
    opacity: 0.85;
    gap: 10px;
    padding: 7px;
    border-radius: 20px;
    transition: all 0.1s ease-in-out;
}

.links:hover {
    background-color: #6923ff;

}

.block-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 80%;
    margin: 20px auto;
    justify-content: center;
    animation: start-ani-home-page 1s ease-in-out 1;
}

@keyframes start-ani-home-page {
    0%{
        transform: scale(0);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.block {
    background-color: rgba(255,255,255, 0.2);
    height: 250px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
    position: relative;
    transition: all 0.15s ease-in-out;
}

.block:hover {
    transform: scale(1.05);
    box-shadow: 15px 10px 25px black;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

.block-title {
    position: absolute;
    top: 10px; 
    left: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
}

.block-content {
    font-size: 1rem;
    opacity: 0.85;
    text-align: center;
    margin-top: 40px;
    line-height: 1.5;
}

main {
    animation: start-ani 0.5s ease-in-out;
    flex-grow: 1;
}

@keyframes start-ani {
    0% {
        transform:scale(2);
        opacity: 0;
    }
    65%{
        transform:scale(0.9);
        opacity: 1;
    }
    100% {
        transform:scale(1);
        opacity: 1;
    }
}

.social-block-title {
    position: absolute;
    top: 10px; 
    left: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.social-block-content {
    font-size: 1.2rem;
    opacity: 0.85;
    text-align: center;
    margin-top: 40px;
    line-height: 1.5;
}

.pricing-detail {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5%;
}

@keyframes typing {
    0% {
        width: 0;
        opacity: 0;
        border-right: 2px solid #fff; /* Cursor visible */
    }
    20% {
        opacity: 1;
    }
    95%{
        border-right: 2px solid #fff;
    }
    100% {
        width: 100%;
        opacity: 1;
        border-right: 2px solid transparent; /* Cursor disappears */
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.main-slogan-1 {
    margin-top: 15%;
    margin-left: 15%;
    font-size: 2rem;
    font-weight: 600;
    opacity: 0;
    max-width: max-content;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #fff; /* Optional cursor effect */
    animation: typing 4s steps(50) 1s forwards, blink 0.75s step-end 10;
}

.main-slogan-2 {
    margin-left: 15%;
    font-size: 2rem;
    font-weight: 600;
    opacity: 0;
    max-width: max-content;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #fff; /* Optional cursor effect */
    animation: typing 4s steps(45) 1s forwards, blink 0.75s step-end 10;
}

.main-slogan-1 {
    animation-delay: 0.2s;
}

.main-slogan-2 {
    animation-delay: 2s;
}

@keyframes gradient-animation {

    0% {
        transform: rotate(0deg);
        transform: scale(3);
    }
    100% {
        transform: rotate(360deg);
        transform: scale(1);
    }
}

.main-footer {
    bottom: 0;
    position: relative;
}

.chatbot-link {
    background: linear-gradient(to right bottom, #0077ff, #ff00bb);
}

.chatbot-link:hover {
    animation: button-animation 2s ease-in-out infinite;
}

@keyframes button-animation {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360);
    }
}
.continue-btn {
    display: block;
    justify-self: center;
    align-items: center;
    width: 20%;
    padding: 10px;
    background: rgba(255,255,255, 0.2);
    color: white;
    border: solid;
    border-radius: 15px;
    border-width: 3px;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.continue-btn:hover {
    background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgba(9,29,85,1) 0.2%, rgba(0,0,0,1) 100.2% );
    transform: scale(1.2);
    animation: blink 1.2s ease-in-out infinite;
}

.continue-btn:active {
    background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgba(9,29,85,1) 0.2%, rgba(0,0,0,1) 100.2% );
    transform: scale(0.8);
    animation: blink 1.2s ease-in-out infinite;
}

.chatbot-textbox {
    display: none;
}

.chatbot-textbox {
    display: block;
    justify-self: center;
    align-items: center;
}

#text-box {
    display: none; /* Initially hidden */
    margin-top: 20px;
    text-align: center;
}

.message-box {
    height: 30%;
    width: 40%;
}